
$font-family: roboto, sans-serif;
$black-s00: #fff;
$black-s01: #fcfcfc;
$black-s03: #f7f7f7;
$black-s05: #f2f2f2;
$black-s10: #e5e5e5;
$black-s20: #ccc;
$black-s30: #b3b3b3;
$black-s40: #999;
$black-s50: #808080;
$black-s60: #666;
$black-s70: #4d4d4d;
$black-s80: #333;
$black-s90: #1a1a1a;
$black-s95: #0d0d0d;
$black-s97: #080808;
$black-s99: #030303;
$black-s100: #000;
$text-1: #2c3137;
$text-2: #565f6b;
$text-3: #a5adb8;
$text-4: #cbcfd5;
$text-disabled: #e5e5e5;
$stroke-1: #a0a1a3;
$stroke-2: #c3c5c7;
$stroke-3: #e6e8eb;
$primary-standard: #bf702a;
$primary-hover: #d4843c;
$primary-pressed: #af6726;
$primary-disabled: #eac09c;
$red-standard: #bf392a;
$red-hover: #d44b3c;
$red-pressed: #af3426;
$red-disabled: #e9a49d;
$yellow-standard: #e5c832;
$yellow-hover: #f4be5a;
$yellow-pressed: #f1a923;
$yellow-disabled: #f9dba4;
$orange: #e59f32;
$green: #24a645;
$teal: #5cbfbb;
$mint: #37abbf;
$cyan: #2a94bf;
$blue: #0863bf;
$blue-2: #3f618c;
$blue-3: #3c6aa6;
$indigo: #5e5ce6;
$purple: #ab51d9;
$pink: #d92f51;
$brown: #8c3602;
$brown-2: #732c02;


@import './page/header_var.scss';